﻿
@{
    ViewBag.Title = "Index";
}

@section header {
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
}

<h2>Index</h2>

@Html.ActionLink("Login", "Login")

<br /><br />

<div class="site">

    BOX - SCSS

</div>